  <div class="span8">
    <dl class="dl-horizontal">
      <dt><strong><%= I18n.t(:"employee.form.created_at") %>:</strong></dt>
      <dd><%= l @employee.created_at, format: :long %></dd>
      <dt><strong><%= I18n.t(:"employee.form.title") %>:</strong></dt>
      <dd><%= best_in_place @employee, :title, :type => :select, :collection => Employee::TITLE.map{|key, value| [key, t(value)]} %></dd>
      <dt><strong><%= I18n.t(:"employee.form.user_id") %>:</strong></dt>
      <dd><%= link_to @employee.user.full_name, profile_path(@employee.user) %></dd>
      <dt><strong><%= I18n.t(:"employee.form.birthday") %>:</strong></dt>
      <dd><%= l @employee.birthday, format: :long %></dd>
      <dt><strong><%= I18n.t(:"employee.form.language") %>:</strong></dt>
      <dd>
        <%#= Employee::LANGUAGE[@employee.language] %>
        <%= best_in_place @employee, :language, type: :select, collection: Employee::LANGUAGE.map{|key, value| [key, t(value)]} %>
      </dd>
      <dt><strong><%= I18n.t(:"employee.form.company_id") %>:</strong></dt>
      <dd>
        <%= best_in_place @employee, :company_id, type: :select, collection: Company.all.map{|x| [x.id, x.name]} %>
      </dd>
      <dt><strong><%= I18n.t(:"employee.form.job_title_id") %>:</strong></dt>
      <dd>
        <%= best_in_place @employee, :job_title_id, :type => :select, :collection => JobTitle.all.map{|x| [x.id, x.job_title]} %>
      </dd>
      <dt><strong><%= I18n.t(:"employee.form.decision") %>:</strong></dt>
      <dd>
        <%= best_in_place @employee, :decision, :type => :checkbox,
                            :collection => ["Can't take decision", "Take decision"] %>
      </dd>
      <dt><strong><%= I18n.t(:"employee.form.phone") %>:</strong></dt>
      <dd><%= best_in_place @employee, :phone %></dd>
      <dt><strong><%= I18n.t(:"employee.form.mobile") %>:</strong></dt>
      <dd><%= best_in_place @employee, :mobile %></dd>
      <dt><strong><%= I18n.t(:"employee.form.simtravel") %>:</strong></dt>
      <dd><%= best_in_place @employee, :simtravel %></dd>
      <dt><strong><%= I18n.t(:"employee.form.email") %>:</strong></dt>
      <dd><%= best_in_place @employee, :email %></dd>
      <dt><strong><%= I18n.t(:"employee.form.skype") %>:</strong></dt>
      <dd><%= best_in_place @employee, :skype %></dd>
      <dt><strong><%= I18n.t(:"employee.form.facebook") %>:</strong></dt>
      <dd><%= best_in_place @employee, :facebook %></dd>
      <dt><strong><%= I18n.t(:"employee.form.client_date") %>:</strong></dt>
      <dd><%= l @employee.client_date, format: :long %></dd>
    </dl>
  </div>

<%= link_to 'Open full profile', company_employee_path(@employee.company, @employee) %>
