<%= form_for ([@company,@employee]), :html => { :class => 'form-horizontal' } do |f| %>
  <div class="span4">
    <div class="control-group">
      <%= f.label t(:"employee.form.title"), :class => 'control-label' if @show_label %>
      <div class="controls">
        <%= f.select :title, Employee::TITLE.invert.map{|value, key| [t(value), key] }, :include_blank => t(:"employee.form.title") %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label t(:"employee.form.last_name"), :class => 'control-label' if @show_label %>
      <div class="controls">
        <%= f.text_field :last_name, :class => 'text_field required', placeholder: t(:"employee.form.last_name") %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label t(:"employee.form.first_name"), :class => 'control-label' if @show_label %>
      <div class="controls">
        <%= f.text_field :first_name, :class => 'text_field required', placeholder: t(:"employee.form.first_name") %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label t(:"employee.form.patronymic"), :class => 'control-label' if @show_label %>
      <div class="controls">
        <%= f.text_field :patronymic, placeholder: t(:"employee.form.patronymic") %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label t(:"employee.form.gender"), :class => 'control-label' if @show_label %>
      <div class="controls">
        <%= gender(f) %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label t(:"employee.form.birthday"), :class => 'control-label' if @show_label %>
      <div class="controls">
        <%= f.text_field :birthday, placeholder: t(:"employee.form.birthday") %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label t(:"employee.form.language"), :class => 'control-label' if @show_label %>
      <div class="controls">
        <%= language(f) %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label t(:"employee.form.job_title_id"), :class => 'control-label' if @show_label %>
      <div class="controls">
        <%= job_title(f) %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label t(:"employee.form.decision"), :class => 'control-label' if @show_label %>
      <div class="controls">
        <%= f.check_box :decision, :class => 'check_box' %>
      </div>
    </div>
  </div>
  <div class="span4">
    <div class="control-group">
      <%= f.label :phone, :class => 'control-label' if @show_label %>
      <div class="controls">
        <%= f.text_field :phone, :class => 'text_field', placeholder: t(:"employee.form.phone") %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :mobile, :class => 'control-label' if @show_label %>
      <div class="controls">
        <%= f.text_field :mobile, :class => 'text_field', placeholder: t(:"employee.form.mobile") %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :simtravel, :class => 'control-label' if @show_label %>
      <div class="controls">
        <%= f.text_field :simtravel, :class => 'text_field', placeholder: "simtravel" %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :email, :class => 'control-label' if @show_label %>
      <div class="controls">
        <%= f.text_field :email, :class => 'text_field', placeholder: "email" %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :skype, :class => 'control-label' if @show_label %>
      <div class="controls">
        <%= f.text_field :skype, :class => 'text_field', placeholder: "skype" %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :facebook, :class => 'control-label' if @show_label %>
      <div class="controls">
        <%= f.text_field :facebook, :class => 'text_field', placeholder: "facebook" %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label t(:"employee.form.client_date"), :class => 'control-label' if @show_label %>
      <div class="controls">
        <%= f.text_field :client_date, placeholder: t(:"employee.form.client_date") %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label t(:"employee.form.completion"), :class => 'control-label' if @show_label %>
      <div class="controls">
        <%= f.text_field :completion, :class => 'text_field', placeholder: t(:"employee.form.completion") %>
      </div>
    </div>
  </div>
<div class="span12">
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('employee.form.cancel', :default => t("helpers.links.cancel")), company_path(@company), :class => 'btn' %>
  </div>
  <% end %>
</div>
