<%= form_for ([@company,@employee]), :html => { :class => 'form-horizontal' } do |f| %>
  <div class="span4">
    <div class="control-group">
      <%= f.label :first_name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :first_name, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :last_name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :last_name, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :patronymic, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :patronymic, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :gender, :class => 'control-label' %>
      <div class="controls">
        <%= f.select :gender, Employee::GENDER.invert.map{|t| t }, :include_blank => "Select gender" %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :birthday, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :birthday %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :language, :class => 'control-label' %>
      <div class="controls">
        <%= f.select :language, Employee::LANGUAGE.invert.map{|t| t }, :include_blank => "Select language" %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :company, :class => 'control-label' %>
      <div class="controls">
        <%= f.collection_select :company_id, Company.find(:all), :id, :name, :include_blank => "Select company" %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :job_title_id, :class => 'control-label' %>
      <div class="controls">
        <%= f.collection_select :job_title_id, JobTitle.find(:all), :id, :job_title, :include_blank => "Select job" %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :decision, :class => 'control-label' %>
      <div class="controls">
        <%= f.check_box :decision, :class => 'check_box' %>
      </div>
    </div>
  </div>
  <div class="span4">
    <div class="control-group">
      <%= f.label :phone, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :phone, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :mobile, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :mobile, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :simtravel, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :simtravel, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :email, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :email, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :skype, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :skype, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :facebook, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :facebook, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :client_date, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :client_date %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :completion, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :completion, :class => 'text_field' %>
      </div>
    </div>
  </div>
<div class="span12">
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
      company_path(@company), :class => 'btn' %>
    </div>
  <% end %>
</div>
