<div class="page-header">
  <h1><%= t(:"employee.index.contacts") %></h1>
</div>
<div>Filter columns:</div>
<ul class="filter">
  <li><input type="checkbox" name="vehicle" value="" onclick="fnShowHide(0);" checked><%= t(:"employee.index.id") %></li>
  <li><input type="checkbox" name="vehicle" value="" onclick="fnShowHide(1);" checked><%= t(:"employee.index.full_name") %></li>
  <li><input type="checkbox" name="vehicle" value="" onclick="fnShowHide(2);" checked><%= t(:"employee.index.gender") %></li>
  <li><input type="checkbox" name="vehicle" value="" onclick="fnShowHide(3);" checked><%= t(:"employee.index.language") %></li>
  <li><input type="checkbox" name="vehicle" value="" onclick="fnShowHide(4);" checked><%= t(:"employee.index.company_id") %></li>
  <li><input type="checkbox" name="vehicle" value="" onclick="fnShowHide(5);" checked><%= t(:"employee.index.job_title_id") %></li>
  <li><input type="checkbox" name="vehicle" value="" onclick="fnShowHide(6);" checked><%= t(:"employee.index.phone") %></li>
  <li><input type="checkbox" name="vehicle" value="" onclick="fnShowHide(7);" checked><%= t(:"employee.index.mobile") %></li>
  <li><input type="checkbox" name="vehicle" value="" onclick="fnShowHide(8);" checked><%= t(:"employee.index.simtravel") %></li>
  <li><input type="checkbox" name="vehicle" value="" onclick="fnShowHide(9);" checked><%= t(:"employee.index.email") %></li>
  <li><input type="checkbox" name="vehicle" value="" onclick="fnShowHide(10);" checked><%= t(:"employee.index.skype") %></li>
  <li><input type="checkbox" name="vehicle" value="" onclick="fnShowHide(11);" checked><%= t(:"employee.index.facebook") %></li>
</ul>
<table id="employees" class="table table-striped" data-source="<%= employees_url(format: "json") %>" data-language="<%= current_language %>">
  <thead>
    <tr>
      <th><%= t(:"employee.index.id") %></th>
      <th><%= t(:"employee.index.full_name") %></th>
      <th><%= t(:"employee.index.gender") %></th>
      <th><%= t(:"employee.index.language") %></th>
      <th><%= t(:"employee.index.company_id") %></th>
      <th><%= t(:"employee.index.job_title_id") %></th>
      <th><%= t(:"employee.index.phone") %></th>
      <th><%= t(:"employee.index.mobile") %></th>
      <th><%= t(:"employee.index.simtravel") %></th>
      <th><%= t(:"employee.index.email") %></th>
      <th><%= t(:"employee.index.skype") %></th>
      <th><%= t(:"employee.index.facebook") %></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
<%#= link_to t('.new', :default => t("helpers.links.new")), new_employee_path, :class => 'btn btn-primary' %>
<div id="modal-window" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel" class="modal_title">Loading...</h3>
  </div>
  <div class="modal-body">
    <p></p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary">Save changes</button>
  </div>
</div>
