<%- model_class = Employee -%>
<%- opts = { :type => :textarea, :ok_button => t(:'save'), :cancel_button => t(:'cancel'), :use_confirm => false, :nil => "" } %>
<%- opts.delete(:ok_button) if params[:suppress_ok_button] %>
<div class="row-fluid">
    <h1><%#= t(:"employee.model_title") %>
      <% if @employee.user == current_user %>
        <%= best_in_place @employee, :first_name, opts %> <%= best_in_place @employee, :last_name, opts %> <%= best_in_place @employee, :patronymic, opts %>
      <% else %>
        <%= @employee.first_name %> <%= @employee.last_name %> <%= @employee.patronymic %>
      <% end %>
    </h1>

<div class="row-fluid">
  <div class="form-actions">
    <%= link_to t('.back', :default => t("helpers.links.back")),
                company_path(@company), :class => 'btn'  %>
    <% if can? :update, @employee %>
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_company_employee_path(@company, @employee), :class => 'btn' %>
      <% if params[:company_id].present? %>
      <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                delete_employee_company_employee_path(@company, @employee),
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-danger' unless @employee.to_delete? %>
      <% else %>
      <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                delete_employee_employee_path(@employee),
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-danger' unless @employee.to_delete? %>
      <% end %>
    <% end %>
    <span class="marked_to_delete pull-right">
      <% if @employee.to_delete? %>
        <%= render 'marked_to_delete' %>
      <% end %>
    </span>
  </div>
</div>

  <div class="span4" style=<%= @employee.to_delete? ? "background:#f2dede;" : "" %>>
  <% if @employee.user == current_user %>
    <%= render 'profile_for_owner', opts: opts %>
  <% else %>
    <%= render 'profile_for_user' %>
  <% end %>
  </div>

  <div class="span6">
    <ul class="nav nav-tabs">
      <li class="comments_tab active">
        <%= link_to comments_employee_path(@employee), remote: true, class: 'tab_comments' do %>
          <%= t(:"employee.show.comments") %> <span class="badge badge-inverse total_comments"><%= @employee.comments.count %></span></li>
        <% end %>
      </li>
      <% if can? :manage, Version %>
      <li class="history_tab">
        <%= link_to revisions_employee_path, remote: true do %>
        <%= t(:'changes_history') %> <span class="badge badge-inverse total_versions"><%= @employee.versions.count %></span>
        <% end %>
      </li>
      <% end %>
    </ul>

  <div class="right_side">
    <%= render partial: 'comments' %>
  </div>
</div>
