<div class="span8 well offset2">
<legend><h3><%= t(:"registrations.edit_profile") %></h3></legend>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, class: 'form-horizontal' }) do |f| %>
  <%= devise_error_messages! %>

  <div class="control-group">
    <%= f.label t(:"registrations.email"), class: "control-label" %>
    <div class="controls">
      <%= f.email_field :email, :autofocus => true %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label t(:"registrations.first_name"), class: "control-label" %>
    <div class="controls">
      <%= f.text_field :first_name %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label t(:"registrations.last_name"), class: "control-label" %>
    <div class="controls">
      <%= f.text_field :last_name %>
    </div>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="control-group">
    <%= f.label t(:"registrations.password"), class: "control-label" %>
    <div class="controls">
      <%= f.password_field :password, :autocomplete => "off" %><br>
      <i>(<%= t(:"registrations.leave_blank") %>)</i>
    </div>
  </div>

  <div class="control-group">
    <%= f.label t(:"registrations.password_confirmation"), class: "control-label" %>
    <div class="controls">
      <%= f.password_field :password_confirmation %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label t(:"registrations.current_password"), class: "control-label" %>
    <div class="controls">
      <%= f.password_field :current_password %><br>
      <i>(<%= t(:"registrations.we_need") %>)</i>
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <%= f.submit t(:"registrations.update"), class: 'btn' %>
    </div>
  </div>
<% end %>

<!-- <h3>Cancel my account</h3> -->

<!-- <p>Unhappy? <%#= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>.</p> -->

<%= link_to t(:"registrations.back"), :back %>
</div>
