<h2><%= t(:"registrations.sign_up") %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label t(:"registrations.email") %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label t(:"registrations.first_name") %><br />
  <%= f.text_field :first_name %></div>

  <div><%= f.label t(:"registrations.last_name") %><br />
  <%= f.text_field :last_name %></div>

  <div><%= f.label t(:"registrations.password") %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label t(:"registrations.password_confirmation") %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit t(:"registrations.sign_up") %></div>
<% end %>

<%= render "devise/shared/links" %>
