<div class="comment_<%= comment.id %>">
  <hr>
  <div><%= comment.content %></div>
  <div><%= link_to comment.user.full_name, profile_path(comment.user) %></div>
  <div><%= Comment::RESULT[comment.result_id] %></div>
  <div>
    <%= link_to 'Destroy', company_comment_path(@company, comment), method: :delete,
                      data: { confirm: 'Delete comment?' }, remote: true if comment.user == current_user %>
  </div>
</div>
