<div class="comment_<%= comment.id %>">
  <div style="border-left: 1px solid rgba(0, 0, 0, 0.2);padding-left:5px;">
    <%= comment.content %>
    <div><%= link_to comment.user.full_name, profile_path(comment.user) %> | <%= l comment.created_at, format: :long %></div>
    <% if comment.events.present? %>
      <table class="table table-condensed">
        <caption><h6>Events</h6></caption>
        <thead>
          <tr>
            <th>Nr.</th>
            <th>Event</th>
            <th>Contact person</th>
            <th>Email/Phone</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          <% comment.events.each_with_index do |event, index| %>
          <tr>
            <td>
              <span class="badge badge-info"><%= index + 1 %></span>
            </td>
            <td>
              <% if event.action_id %>
                <%= t(Event::RESULT[event.action_id]) %>
              <% end %>
            </td>
            <td>
              <%= link_to event.employee.full_name, company_employee_path(event.employee.company, event.employee) if event.employee.present? %>
            </td>
            <td>
              <% unless event.email == "" %>
                <%= event.email %>
              <% end %>
            </td>
            <td>
              <% if event.event_date %>
                <%= l event.event_date, format: :long %>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
  <div>
    <%#= link_to 'Destroy', company_comment_path(@commentable, comment), method: :delete,
                      data: { confirm: 'Delete comment?' }, remote: true if comment.user == current_user %>
  </div>
</div>
<hr>
