<div class="span12">
  <div class="span6">
    <h4><%= t(:"user.show.user_profile") %></h4>
    <div><%= @user.full_name %> <b><%= "| porfile not activated" unless @user.activated? %></b></div>
    <div><%= mail_to @user.email %></div>
    <div><%= t(:"user.show.sales") %>: <%= @user.sales.count %> <%= t(:"user.show.in_total") %> <%= @total %> <%= t(:"user.show.lei") %>.</div>
    <hr>
    <div><%= t(:"user.index.companies_added") %>: <%= @user.companies.count %></div>
    <div class="page-header">
      <h5><%= t(:"activity.index.activities") %></h5>
    </div>

    <div class="activities"><%= render 'activities' %></div>
  </div>
  <div class="span6">
    <h4><%= t(:"user.show.responsible_for") %> <%= @responsible.count %> <%= t(:"user.show.companies") %></h4>
    <table class="table table-striped">
      <thead>
        <tr>
          <th><%= t(:"user.index.name") %></th>
          <th><%= t(:"company.form.number_employees") %></th>
          <th><%= t(:"company.show.contacts") %></th>
        </tr>
      </thead>
      <tbody>
        <% @responsible.each do |company| %>
        <tr>
          <td><%= link_to company.name, company %></td>
          <td><%= company.number_employees %></td>
          <td><%= company.employee.count %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
