<div id="events">
  <h2 id="month">
    <%= link_to "<", date: @date.prev_month, remote: true %>
    <%= @date.strftime("%m - %Y") %>
    <%= link_to ">", date: @date.next_month, remote: true %>
  </h2>
  <%= calendar @date do |date| %>
  <%= date.day %>
  <% if @events_by_date[date] %>
    <h5><%= link_to "#{t(:"events.events")}: #{@events_by_date[date].count}", events_for_day_path(set_date: date), remote: true %></h5>
  <% end %>
  <% end %>
</div>
