<% if employee %>
<p>
  <%= t(:'activity.index.added_contact') %> <%= link_to employee.full_name, company_employee_path(employee.company, employee) %> <%= t(:"activity.index.to_company") %> <%= link_to employee.company.name, employee.company %>
</p>

<table class='table table-bordered'>
  <tbody>
    <% if employee.job_title.present? %>
    <tr>
      <td><%= t(:'employee.index.job_title_id') %></td>
      <td><%= dt_job_title(employee) %></td>
    </tr>
    <% end %>
    <tr>
      <td><%= t(:'employee.index.language') %></td>
      <td><%= language_name(employee.language_id) %></td>
    </tr>
    <tr>
      <td><%= t(:'employee.index.decision') %></td>
      <td><%= employee.decision? ? I18n.t(:"employee.form.take_decision") : I18n.t(:"employee.form.cant_take_decision") %></td>
    </tr>
    <% if employee.phone.present? %>
    <tr>
      <td><%= t(:'employee.index.phone') %></td>
      <td><%= employee.phone %></td>
    </tr>
    <% end %>
    <% if employee.mobile.present? %>
    <tr>
      <td><%= t(:'employee.index.mobile') %></td>
      <td><%= employee.mobile %></td>
    </tr>
    <% end %>
    <% if employee.simtravel.present? %>
    <tr>
      <td><%= t(:'employee.index.simtravel') %></td>
      <td><%= employee.simtravel %></td>
    </tr>
    <% end %>
    <% if employee.birthday.present? %>
    <tr>
      <td><%= t(:'employee.index.birthday') %></td>
      <td><%= l employee.birthday, format: :long %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% else %>
added contact wich has since been removed
<% end %>
