<h4>Address</h4>
<% @company.addresses.each do |addresss| %>
<dl class="dl-horizontal pull-right">
  <h4 class="offset1">
    <%= addresss.address_type.present? ? 'Invoicing' : 'Legal' %>
  </h4>
  <dt><strong><%= t(:"company.show.addresse.country") %>:</strong></dt>
  <dd><%= addresss.country.name %></dd>
  <dt><strong><%= t(:"company.show.addresse.state") %>:</strong></dt>
  <dd><%= addresss.state.name %></dd>
  <dt><strong><%= t(:"company.show.addresse.postal_code") %>:</strong></dt>
  <dd><%= addresss.postal_code %></dd>
  <dt><strong><%= t(:"company.show.addresse.street") %>:</strong></dt>
  <dd><%= addresss.street %></dd>
  <dt><strong><%= t(:"company.show.addresse.number") %>:</strong></dt>
  <dd><%= addresss.street_number %></dd>
</dl>
<% end %>
