<div class="span12">
  <%= search_form_for @search, url: search_companies_path, method: :post do |f| %>
    <%= f.condition_fields do |c| %>
      <%= render "condition_fields", f: c%>
    <% end %>
    <p><%= link_to_add_fields t(:"advanced_search.add_conditions"), f, :condition %>
    <div class="actions"><%= f.submit t(:"advanced_search.search") %></div>
  <% end %>
</div>
