<h4><%= t(:"contacts.show.contacts")  %></h4>
<% for employee in @company.employee %>
  <div class="span4 pull-right">
    <%= link_to employee.full_name, company_employee_path(@company, employee) %>
    <%= link_to "<i class='icon-edit'></i>".html_safe, edit_company_employee_path(@company, employee) %>
    <br>
    <%= employee.phone %><br>
    <%= employee.decision? ? t(:"contacts.show.take") : t(:"contacts.show.cant_take") %><br>
    <hr>
  </div>
<% end %>
