<%= form_for @company, :html => { :class => 'form-horizontal' } do |f| %>
<div class="span4">
  <div class="control-group">
    <%#= f.label :responsible_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :responsible_id, User.find(:all), :id, :full_name, { :selected => current_user.id }, :prompt => t(:"company.form.responsible"), class: 'select_field' %>
    </div>
  </div>
  <div class="control-group">
    <%#= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field', placeholder: t(:"company.form.name") %>
    </div>
  </div>
  <div class="control-group">
    <%#= f.label :company_branch_id, :class => 'control-label' %>
    <div class="controls">
      <%= company_branch(f) %>
    </div>
  </div>
  <div class="control-group">
    <%#= f.label :company_source_id, :class => 'control-label' %>
    <div class="controls">
      <%= company_source(f) %>
    </div>
  </div>
  <div class="control-group">
    <%#= f.label :client_category_id, :class => 'control-label' %>
    <div class="controls">
      <%= client_category(f) %>
    </div>
  </div>
  <div class="control-group">
    <%#= f.label :client_type_id, :class => 'control-label' %>
    <div class="controls">
      <%= client_type(f) %>
    </div>
  </div>
  <div class="control-group">
    <%#= f.label :organizational_form_id, :class => 'control-label' %>
    <div class="controls">
      <%= organizational_form(f) %>
    </div>
  </div>
  <div class="control-group">
    <%#= f.label :number_employees, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :number_employees, :class => 'text_field', placeholder: t(:"company.form.number_employees") %>
    </div>
  </div>
  <div class="control-group">
    <%#= f.label :client_status_id, :class => 'control-label' %>
    <div class="controls">
      <%= client_status(f) %>
    </div>
  </div>
  <div class="control-group">
    <%#= f.label :client_at, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :client_at, :class => 'date_select', placeholder: t(:"company.form.client_at") %>
    </div>
  </div>
</div>
<div class="span4">
  <div class="control-group">
    <%#= f.label :phone, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :phone, :class => 'text_field', placeholder: t(:"company.form.phone") %>
    </div>
  </div>
  <div class="control-group">
    <%#= f.label :fax, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :fax, :class => 'text_field', placeholder: t(:"company.form.fax") %>
    </div>
  </div>
  <div class="control-group">
    <%#= f.label :email, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :email, :class => 'text_field', placeholder: t(:"company.form.email") %>
    </div>
  </div>
  <div class="control-group">
    <%#= f.label :skype, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :skype, :class => 'text_field', placeholder: t(:"company.form.skype") %>
    </div>
  </div>
  <div class="control-group">
    <%#= f.label :website, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :website, :class => 'text_field', placeholder: t(:"company.form.website") %>
    </div>
  </div>
  <div class="control-group">
    <%#= f.label :facebook, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :facebook, :class => 'text_field', placeholder: t(:"company.form.facebook") %>
    </div>
  </div>
  <div class="control-group">
    <%#= f.label :bank_req, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :bank_req, :class => 'text_field', placeholder: t(:"company.form.bank_req") %>
    </div>
  </div>
  <div class="control-group">
    <%#= f.label :fisc_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :fisc_id, :class => 'number_field', placeholder: t(:"company.form.fisc_id") %>
    </div>
  </div>
</div>
  <div class="span10">
    <hr>
    <div class="control-group">
      <div class="span">
        <%= check_box "fill", "invoicing", {onclick: "FillInvoicing(this.form)"}, false %>
        <p>Check this box if Legal Address and Invoicing Address are the same</p>
      </div>
      <% @addresses.each.with_index do |address,index| %>
      <div class="span4">
        <%= f.fields_for :addresses, address do |af| %>
        <div class="controls">
          <% if index == 0  %>
          <div class="control-group"><%= t(:"address.form.legal_address") %></div>
          <% else %>
          <div class="control-group"><%= t(:"address.form.invoicing_address") %></div>
          <% end %>
          <%= af.hidden_field :address_type, value: index %>
        </div>
        <div class="control-group">
          <div class="controls">
            <%#= af.collection_select :country_id, Country.order(:name), :id, :name, include_blank: t(:"address.form.country_id") %>
            <%= af.select :country_id, options_for_select(Country.all.map{ |c| [c.name, c.id] }), onchange: {action: "country_select" } %>
          </div>
        </div>
        <div class="control-group">
          <div class="controls state_<%= index %>">
            <%= af.select :state_id, options_for_select(State.all.map{ |c| [c.name, c.id] }), include_blank: t(:"address.form.state_id") %>
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <%= af.text_field :postal_code, placeholder: t(:"address.form.postal_code") %>
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <%= af.text_field :street, placeholder: t(:"address.form.street") %>
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <%= af.text_field :street_number, placeholder: t(:"address.form.street_number") %>
          </div>
        </div>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>

<div class="span10">
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
    companies_path, :class => 'btn' %>
  </div>
</div>
<% end %>

<script type="text/javascript">

  // function country_select() {

    $(document).ready(function() {
      $('#company_addresses_attributes_0_country_id').change(function() {
        $.ajax({
          // url: "companies/new/country_select" + $('#country_select').val(),
          url: "companies/country_select",
          data: {
            country_id : $('#company_addresses_attributes_0_country_id').val()
          },
          dataType: "script"
        });
      });

    });

  // }

</script>
