<div class="accordion" id="accordion2">
  <% @versions.each_with_index do |version, index| %>
  <div class="accordion-group">
    <div class="accordion-heading">
      <div class="index pull-left"><%= index + 1 %></div>
      <div class="version_date">
      <%= link_to "#collapse#{index+1}", class: "accordion-toggle", data: {toggle: "collapse", parent: "#accordion2"} do %>
        <%= l version.created_at, format: :long %>
      <% end %>
      </div>
    </div>
    <div id="collapse<%= index+1 %>" class="accordion-body collapse">
      <div class="accordion-inner">
        <div>
          <table class="table table-striped">
            <thead>
              <tr>
                <th><%= t(:"company.show.field") %></th>
                <th><%= t(:"company.show.from") %></th>
                <th><%= t(:"company.show.to") %></th>
              </tr>
            </thead>
            <tbody>
              <% version.changeset.each do |set| %>
                <tr>
                  <td><%= t(:"company.index.#{set[0]}") %></td>
                  <td><%= name_it(set[0], set[1][0]) %></td>
                  <td><%= name_it(set[0], set[1][1]) %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <%= link_to 'Restore this version', revert_version_path(version), :method => :post %>
      </div>
    </div>
  </div>
  <% end %>
</div>
