<script type="text/javascript">
(function() {
  jQuery(function() {
    return Morris.Line({
      element: 'sales_chart',
      data: $('#sales_chart').data('sales'),
      xkey: 'created_at',
      ykeys: ['ammount'],
      labels: ['<%= t(:"sales.index.amount") %>']
    });
  });

}).call(this);
</script>
<%= content_tag :div, "", id: "sales_chart", data: {sales: company_sales_chart_data} %>

<h4><%= t(:"sales.show.sales") %></h4>
<div class="img-polaroid"><%= render partial: 'sales/form' %></div>
<div class="page-header">
  <h4>
    <%= t(:"sales.show.sales") %> <span class="total_sales"><%= @sales.count %></span>
    <span class="pull-right"><%= t(:"sales.show.total_amount") %>: <span class="total_ammount"><%= @total %></span>
    <%= t(:"sales.index.lei") %></span>
  </h4>
</div>
<div class="comments">
  <%= render @sales %>
</div>
