<div class="span12">
  <div class="span4">
    <h4>User Profile</h4>
    <div><%= @user.full_name %></div>
    <div><%= mail_to @user.email %></div>
    <hr>
    <div>Companies added: <%= @user.companies.count %></div>
  </div>
  <div class="span6">
    <h4>Responsible for <%= @responsible.count %> companies</h4>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Nr of employees</th>
          <th>Contacts</th>
        </tr>
      </thead>
      <tbody>
        <% @responsible.each do |company| %>
        <tr>
          <td><%= link_to company.name, company %></td>
          <td><%= company.number_employees %></td>
          <td><%= company.employee.count %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
