<div class="comment_<%= sale.id %>">
  <div style="border-left: 1px solid rgba(0, 0, 0, 0.2);padding-left:5px;">
    <%= link_to sale.user.full_name, profile_path(sale.user) %> <%= t(:"sales.index.added_sale") %>
    <%= sale.ammount %> <%= t(:"sales.index.lei") %>. <%= sale.sale_date %><br>
    <table class="table table-bordered">
      <tr>
        <th><%= t(:"sales.form.order_number") %></th>
        <th><%= t(:"sales.index.product") %></th>
        <th><%= t(:"sales.index.price") %></th>
        <th><%= t(:"sales.index.quantity") %></th>
        <th><%= t(:"sales.index.total") %></th>
      </tr>
      <% sale.sale_items.each do |sale_item| %>
        <tr>
          <td><%= sale.order_number %></td>
          <td><%= sale_item.item.name %></td>
          <td><%= sale_item.price %></td>
          <td><%= sale_item.quantity %></td>
          <td><%= sale_item.total_price %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
<hr>
