<!DOCTYPE html>
<html>
<head>
  <title><%= Rails.root.to_s.gsub('/home/apps/', '').gsub('_crm', '') %>.crmexpert.md</title>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <%= link_to "#{$cfg.active_admin.site_name}", root_path, class: 'brand' %>
          <div class="nav-collapse">
            <% if user_signed_in? %>
            <ul class="nav">
              <li><%= link_to t(:"menu.main"), root_path %></li>
              <li><%= link_to t(:"menu.companies"), companies_path %></li>
              <li><%= link_to t(:"menu.contacts"), contacts_path %></li>
              <li><%= link_to t(:"menu.sales"), sales_path %></li>
              <li><%= link_to t(:"menu.calendar"), events_path %></li>
              <li><%= link_to t(:"menu.user"), profiles_path %></li>
            </ul>
            <% end %>
          </div>
          <div class="login pull-right">
            <% if user_signed_in? %>
            <!-- <strong><%#= current_user.email %></strong>. -->
            <%= link_to t(:"menu.edit_profile"), edit_user_registration_path %> |
            <%= link_to t(:"menu.logout"), destroy_user_session_path, method: :delete %>
            <% else %>
            <%= link_to t(:"menu.sign_up"), new_user_registration_path %> |
            <%= link_to t(:"menu.login"), new_user_session_path %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="container site_container"> -->
    <div class="site_container">
      <% flash.each do |name, msg| %>
        <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
          <a class="close" data-dismiss="alert">×</a>
          <%= raw(msg) %>
        </div>
      <% end %>
      <div class="row-fluid">
        <div class="span3 offset1 pull-right">
          <div class="span3"><%= raw(lang_links) %></div>
            <%= form_tag search_all_path, html:{class: 'form-search'}, method: :get, remote: true do |f| %>
            <%= search_field_tag :query, params[:query], class: 'input-medium search-query' %>
            <%= submit_tag 'Search', name: nil, class: 'btn' %>
            <% end %>
            <div class="search_content"></div>
        </div>
        <%= yield %>
      </div>
    </div>
  </body>
  </html>
